<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="dicPath" value="y:/EliseDictionnaries" />
    <add key="logPath" value="y:/EliseDictionnaries/Logs" />
    <add key="processPath" value="Y:\ELISE\Bin\dictionaryadmin" />

    <add key="srvDEV" value="elise://vwd-elise01:2800" />
    <add key="srvTEST" value="elise://vwd-elise01:2900" />
    <add key="srvPROD" value="elise://vwd-elise01:2901" />
    <add key="srvS1" value="elise://vwd-elise01:2800" />
    <add key="srvS2" value="elise://vwd-elise01:2800" />
  </appSettings>
</configuration>